body {
	background: #202020;
	font-family: 'Mukta', sans-serif;
}

#container {
	margin-left: auto;
	margin-right: auto;
	background: lightgray;
	width: 1050px;
	min-height:1200px;
}

#logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #202020;
	padding: 10px;
	color: white;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: 3px;
}

#content {
	min-height: 1200px;
	border: 6px white solid;
}

#sidebar {
	float: left;
	width: 270px;
	min-height: 1193px;
	padding-top: 10px;
	background: #206020;
	padding: 3px;
	color: white;
	
	
}

#sticky {
	z-index: 100;
	top: 0;
	left: 0;
	position: sticky;
}

#firstAndLastName {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
}

#foto {
	text-align: center;
	background: #dedede;
	margin-left: 14px;
	height: 250px;
	width: 200px;
	padding: 20px;
	border: 2px white solid;
	position: sticky;
	top: 0;
	left: 0;
	position: static;

}

#myFoto {
	box-shadow: 15px 20px 2px -8px rgba(0,0,0,0.73);
	margin-left: 10px;
	margin-top: 10px;
	width: 180px;
	height: 225px;
	text-align: bottom;
	background-color: red;
	padding: 0px;
	position: absolute;
	z-index: 50;
}

#pin {
	z-index: 100;
	position: absolute;
	margin-top: 0;
	margin-left: 70px;
	

}

.smallIcon{
	margin-top: 15px;
	margin-left: 20px;
	font-size: 16px;
}

a.tilelink {
	color: white;
	text-decoration: none;
}

a.tilelink:hover {
	color: red;
}


#mainContent {
	float: left;
	min-height: 1200px;
	width: 756px;
	background: #bcbcbc;
	border-left: 6px solid white;
	font-size: 20px;
}

.smallTitle {
	margin-top: 30px;
	margin-left: 50px;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 2px;
	
}

#javaSkill {
	float: left;
	margin-left: 80px;
	text-align: center;
}

#springSkill {
	float: left;
	margin-top: 50px;
	margin-left: 170px;
	text-align: center;
}

#htmlSkill {
	float: left;
	margin-left: 90px;
	margin-top: 30px;
}

#htmlSkill:hover {
	color: #ff751a;
}

#cssSkill {
	float: left;
	margin-left: 90px;
	margin-top: 30px;
}

#cssSkill:hover {
	color:  #33adff;
}

#gitSkill {
	float: left;
	font-size: 80px;
	margin-left: 90px;
	margin-top: 30px;	
}

#gitSkill:hover {
	color: gold;
}

#englishSkill {
	float: left;
	margin-top: 20px;
	margin-left: 75px;
	text-align: center;
	
}

#germanSkill {
	float: left;
	margin-top: 20px;
	margin-left: 100px;
	text-align: center;
}

.description {
	font-size: 20px;
	font-weight: 600;
	margin-top: 14px;
	margin-left: 20px;
	text-align: center;
}


#footer {
	background: #202020;
	text-align: justify;
	color: white;
	
}

