body {
	background: #202020;
	font-family: 'Mukta', sans-serif;
}

#container {
	margin-left: auto;
	margin-right: auto;
	background: lightgray;
	width: 1050px;
	min-height:800px;
}

#logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #202020;
	padding: 10px;
	color: white;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: 3px;
}

#sidebar {
	float: left;
	width: 260px;
	min-height: 800px;
	padding-top: 10px;
	background: #003333;
	padding: 3px;
	color: white;
	
	
	
	
}

#firstAndLastName {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
}

#foto {
	text-align: center;
	background: lightgray;
	padding: 20px;

}

#myFoto {
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-left: 10px;
	width: 90%;
	height: 250px;
	text-align: bottom;
	background-color: red;
	padding: 0px;
}



#mainContent {
	float: left;	
	width: 776px;
	height: 810px;
	border-left: 8px solid #202020;
}